
body{
padding: 0px;
margin: 0px;
background: white ;
}

.header{
    background: seagreen;
    padding: 6px 24px;
    text-align: left;
    color: black;
    margin: 0px;
    letter-spacing: 1px;
    font: caption;
    font-size: 24px;
    text-transform: uppercase;

}

.menu{
    background-color: seagreen;
    margin: 0px;
    overflow: hidden;

}

.menu a {
    font: menu;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    box-sizing: border-box;
    float: none;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 24px;
    
}
.menu a:hover {
    background: green;
    color: black;

}

h2{
    background:white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    box-sizing: border-box;
    color: black;
    float: center;
    display: block;
    text-align: center;
    padding: 20px 22px;

}

p{
    background-color: white;
    text-align: center;
}

h3{
    text-align: center;
}

img{
    width: 100%;
    margin-top: 16px;
}


nav li a{ 
    text-decoration: none;
    color: black;

}

nav ul li {
    padding-bottom: 1em;
    padding-top: 1em
    color darkslategrey;

    }
    
nav ul li a:hover{
    color: darkslategrey;
}

.homebutton{
    background:seagreen;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    box-sizing: border-box;
    color: black;
    float: center;
    display: block;
    text-align: center;
    padding: 20px 22px;
}

.map{
    background:white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    box-sizing: border-box;
    color: black;
    float: center;
    display: block;
    text-align: center;
    padding: 20px 22px;

}
main{
    background: white;
    padding: 6px 24px;
    text-align: center;
    color: black;
    margin: 0px;
    letter-spacing: 1px;
    font: caption;
    font-size: 18px;
    text-transform: uppercase;

}
footer{
    background: seagreen;
    padding: 6px 24px;
    text-align: center;
    color: black;
    margin: 0px;
    letter-spacing: 1px;
    font: caption;
    font-size: 18px;
    text-transform: uppercase;


}

