h1 {
	height: 3em;
	background-color:darkslategrey;
    border-color: black;
    border-width: medium;
    border-style: solid;
    position: relative;
    border-radius: 10px;


}



body{
font-family:sans-serif;
    background-color: grey;
}




nav li a{ 
    text-decoration: none;
    color: black;

}

nav ul li {
    padding-bottom: 1em;
    padding-top: 1em
    color darkslategrey;

    }
    
nav ul li a:hover{
    color: darkslategrey;
}

